:root {
  --base-text-color: #212121;
  --light-text-color: #757575;
  --my-blue: #2196f3;
  --dark-back: #2f303a;
  --light-back: #f5f4fa;
  --just-white: #ffffff;
  --just-black: #000000;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--base-text-color);
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  text-decoration: none;
}
.logo-part1 {
  color: var(--my-blue);
}
.logo-part2 {
  color: var(--just-black);
}
footer .logo-part2 {
  color: var(--just-white);
}
.navi a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--base-text-color);
}
.navi a:hover,
.navi a:focus {
  color: var(--my-blue);
}
.header-contacts a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--light-text-color);
}
.header-contacts :hover,
.header-contacts :focus {
  color: var(--my-blue);
}
.main-header-section,
footer {
  background-color: var(--dark-back);
}
.main-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: var(--just-white);
}
.button-order {
  width: 200px;
  height: 50px;
  background: var(--my-blue);
  border-color: var(--my-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  color: var(--just-white);
}
/*all section headers are the same size*/
.section-header {
  font-size: 36px;
  line-height: 1.17;
}
.advantage {
  font-size: 14px;
  line-height: 1.14;
}
.adv-delail {
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-text-color);
}
.team-section {
  background-color: var(--light-back);
}
.employ-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.employ-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--light-text-color);
}
.footer-contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--just-white);
}
.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}
.filter-button button {
  font-size: 16px;
  font-weight: 500;
  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.filter-button button:hover,
.filter-button button:focus {
  background-color: var(--my-blue);
  color: var(--just-white);
  border-radius: 4px;
}
.prod-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.prod-type {
  font-size: 14px;
  line-height: 1.88;
  color: var(--light-text-color);
}
